page-review {
    .header {
        height: 160px;
        .toolbar-title {
            display: block !important;
            z-index: 2;
            position: relative;
            span {
                display: block;
                font-size: 1.1rem;
                font-weight: 200;
            }
        }
        .banner {
            font-weight: 300;
            position: absolute;
            top: 0;
            z-index: -1;
            height: 160px;
            overflow: hidden;
            img {
                width: 100%;
                max-width: 100%;
            }
            h4 {
                font-size: 1.2rem;
                position: absolute;
                bottom: 10px;
                padding: 0 26px;
                z-index: 1;
                ion-badge {
                    border-radius: 50px;
                    font-weight: 300;
                    padding: 7px 11px;
                    font-size: 1.15rem;
                    margin-right: 10px;
                    z-index: 1;
                    ion-icon {
                        font-size: 1.1rem;
                    }
                }
                .end {
                    font-weight: 400;
                    font-size: 1.3rem;
                    ion-icon {
                        top: 4px;
                        font-size: 1.9rem !important;
                        position: relative;
                        margin-left: 7px;
                    }
                }
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
                /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
                /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=0);
                /* IE6-9 */
            }
        }
    }
    .list {
        margin-bottom: 0;
        margin-bottom: 67px;
        .item {
            background: none;
            padding: 20px 23px;
            padding-bottom: 10px;
            border-bottom: 1px solid darken($gray, 10%) !important;
            ion-label {
                margin: 0;
                white-space: normal;
            }
            .item-inner {
                padding: 0;
            }
            .item_header {
                &.d-flex {
                    align-items: flex-start!important;
                }
                padding-bottom: 10px;
                .profile {
                    color: $white;
                    .profile-img {
                        position: relative;
                        width: 52px;
                        height: 52px;
                        overflow: hidden;
                        border-radius: 50%;
                        img {
                            position: absolute;
                            top: 0px;
                            bottom: 0px;
                            left: 0px;
                            right: 0px;
                            width: 52px;
                            max-width: unset;
                            height: 52px;
                        }
                    }
                    h2 {
                        font-size: 1.4rem;
                        margin: 0 10px;
                        span {
                            display: block;
                            font-size: 1.2rem;
                            padding-top: 3px;
                        }
                    }
                }
                .rating {
                    min-width: 90px;
                    margin-top: 8px;
                    ion-icon {
                        font-size: 1.7rem;
                        color: $text-light;
                        &.acteive {
                            color: $theme-color !important;
                        }
                    }
                }
            }
            p.text {
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 23px;
            }
            &:last-child {
                border-bottom: none !important;
            }
        }
    }
    .fixed-bottom {
        bottom: 17px !important;
        ion-icon {
            margin: 0 auto;
            display: block;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 2.5rem;
            border-radius: 50%;
        }
    }
}
