page-password {
    .scroll-content {
        margin-top: 0 !important;
        .banner {
            position: relative;
            width: 100%;
            overflow: hidden;
            img {
                &.background {
                    position: absolute;
                    top: -53px;
                    left: -50px;
                    right: 0px;
                    bottom: 0;
                    max-width: unset;
                    width: 165%;
                    height: 214%;
                }
            }
            .text {
                padding: 100px 31px 24px 31px;
                p {
                    position: relative;
                    z-index: 11;
                    font-size: 1.3rem;
                    font-weight: 300;
                    margin: 0;
                    strong {
                        font-weight: 400;
                        padding-bottom: 20px;
                        display: block;
                        font-size: 1.5rem;
                    }
                }
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: -moz-linear-gradient(top, rgba(24, 24, 24, 0.41) 0%, rgba(24, 24, 24, 0.41) 5%, rgba(24, 24, 24, 0.98) 77%, rgba(24, 24, 24, 1) 80%);
                /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(24, 24, 24, 0.41) 0%, rgba(24, 24, 24, 0.41) 5%, rgba(24, 24, 24, 0.98) 77%, rgba(24, 24, 24, 1) 80%);
                /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(24, 24, 24, 0.41) 0%, rgba(24, 24, 24, 0.41) 5%, rgba(24, 24, 24, 0.98) 77%, rgba(24, 24, 24, 1) 80%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69181818', endColorstr='#181818', GradientType=0);
                /* IE6-9 */
                z-index: 2;
            }
            &::before {
                content: '';
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.4)
            }
        }
    }
    .form {
        .list {
            margin-bottom: 0;
            padding-top: 35px;
        }
        .item {
            min-height: 3rem;
            margin-top: 0;
            ion-input .text-input {
                margin-bottom: 10px !important;
                margin-left: 0;
                &::-moz-placeholder {
                    font-size: 1.35rem;
                }
                &:-ms-input-placeholder {
                    font-size: 1.35rem;
                }
                &::-webkit-input-placeholder {
                    text-indent: 0;
                    font-size: 1.35rem;
                }
            }
        }
        .button {
            &.btn {
                margin-top: 35px;
            }
        }
    }
}
